html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 1.5;
    color: $colour-grey;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-stack;
}

a {
    color: $colour-grey;
}
h1 {
    font-size:50px;
    text-align:center;
}
.the-content {
    h1 {
        font-weight:300;
    }
}